#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-gray);
  flex-wrap: wrap;
  padding: 40px 0;
}

#sobre {
  background-color: var(--color-gray);
}

#scrollUpButton {
  transform: translate(80vw, 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-golden);
  color: var(--color-gray);
  font-size: 2.75em;
  font-weight: lighter;
  cursor: pointer;
}

.blockContainer {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 650px;
  width: 30%;
  border: 1px solid var(--color-golden);
  padding: 20px;
  font-size: 1.2em;
}
.blockContainer > p {
  text-align: center;
}
#formComments {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--color-gray);
  color: var(--color-golden);
}

.formBlock > #name,
#email,
#message {
  margin: 6px 0;
}

.formBlock {
  width: 29vw;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  border: var(--color-golden) solid 1px;
  border-radius: 2px;
  padding: 5px;
}

label {
  color: var(--color-golden);
}

input,
textarea {
  color: var(--color-gray);
  padding: 10px;
  border: none;
  background-color: var(--color-light-gray-t);
  border-radius: 2px;
}
@media (max-width: 1000px) {
  h2 {
    font-size: 1.5em;
  }
  .blockContainer p {
    font-size: 0.8em;
    font-weight: 400;
  }
}

@media screen and (max-width: 1885px) {
  #formBlockContainer {
    order: 3;
  }
  #aboutBlockContainer {
    order: 1;
  }
  #locationBlockContainer {
    order: 2;
  }

  .formBlock {
    width: 40vw;
  }
  #formBlockContainer {
    width: 40vw;
  }
}

@media (max-width: 600px) {
  .formBlock {
    width: 60vw;
  }
  #formBlockContainer {
    width: 60vw;
  }
  #aboutBlockContainer {
    width: 60vw;
  }
  #locationBlockContainer {
    width: 60vw;
  }
  #footer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
